<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomePageController</servlet-name>
        <servlet-class>Controller.ShowProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>Controller.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyStoreServlet</servlet-name>
        <servlet-class>Controller.MyStoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>Controller.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>Controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPassword</servlet-name>
        <servlet-class>Controller.LoadPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>Controller.AddCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>Controller.CheckoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManagerStaffController</servlet-name>
        <servlet-class>Controller.ManagerStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaff</servlet-name>
        <servlet-class>Controller.DeleteStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>Controller.DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerProductController</servlet-name>
        <servlet-class>Controller.ManagerProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStafff</servlet-name>
        <servlet-class>Controller.AddStafff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListUserbyID</servlet-name>
        <servlet-class>Controller.ListUserbyID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProduct</servlet-name>
        <servlet-class>Controller.LoadProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>Controller.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProduct</servlet-name>
        <servlet-class>Controller.UpdateProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStaff</servlet-name>
        <servlet-class>Controller.CreateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadEmail</servlet-name>
        <servlet-class>Controller.LoadEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowProductsServlet</servlet-name>
        <servlet-class>Controller.ShowProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>Controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerAllAccount</servlet-name>
        <servlet-class>Controller.ManagerAllAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerCustomerAccount</servlet-name>
        <servlet-class>Controller.ManagerCustomerAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>Controller.DeleteCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccount</servlet-name>
        <servlet-class>Controller.DeleteAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAccount</servlet-name>
        <servlet-class>Controller.AddAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>Controller.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadAccount</servlet-name>
        <servlet-class>Controller.LoadAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAccount</servlet-name>
        <servlet-class>Controller.CreateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductSearchServlet</servlet-name>
        <servlet-class>Controller.ProductSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadPhone</servlet-name>
        <servlet-class>Controller.LoadPhone</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomePageController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyStoreServlet</servlet-name>
        <url-pattern>/MyStoreServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerStaffController</servlet-name>
        <url-pattern>/ManagerStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaff</servlet-name>
        <url-pattern>/DeleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerProductController</servlet-name>
        <url-pattern>/ManagerProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStafff</servlet-name>
        <url-pattern>/AddStafff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListUserbyID</servlet-name>
        <url-pattern>/ListUserbyID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProduct</servlet-name>
        <url-pattern>/LoadProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/updateuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProduct</servlet-name>
        <url-pattern>/UpdateProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStaff</servlet-name>
        <url-pattern>/CreateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadEmail</servlet-name>
        <url-pattern>/LoadEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowProductsServlet</servlet-name>
        <url-pattern>/ShowProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/ProductDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerAllAccount</servlet-name>
        <url-pattern>/ManagerAllAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerCustomerAccount</servlet-name>
        <url-pattern>/ManagerCustomerAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccount</servlet-name>
        <url-pattern>/DeleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAccount</servlet-name>
        <url-pattern>/AddAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/UpdateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadAccount</servlet-name>
        <url-pattern>/LoadAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAccount</servlet-name>
        <url-pattern>/CreateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductSearchServlet</servlet-name>
        <url-pattern>/ProductSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPhone</servlet-name>
        <url-pattern>/LoadPhone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadPassword</servlet-name>
        <url-pattern>/LoadPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
